{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - My Django Application</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    </head>

    <body>
        <div class="navbar">
            <div class="logo-banner">
                <!--INSERT LOGO FOR BANNER-->
                <!--<img src="{%  static 'app/images/geico_logo.png' %}", width="225", height="50">-->
            </div>
                <div class="navbar-header">
                    <div class="navbar-page-links">
                        <ul class="navbar-nav navbar-links">
                            <li><a href="{% url 'home' %}">HOME</a></li>
                            <li class="careers-dropdwn-button"><a href="{% url 'job-browser' %}">CAREERS</a>
                                <ul class="careers-dropdwn-content navbar-links">
                                    <li>
                                        <a href="{% url 'job-browser' %}">Find Jobs</a>
                                        <a href="{% url 'register' %}">Job Recommendations</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="navbar-user-links">
                        <ul class="navbar-nav navbar-links">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}">PROFILE</a></li>
                                <li><a href="{% url 'logout' %}">LOG OUT</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">LOG IN</a></li>
                                <li><a href="{% url 'register' %}">REGISTER</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
        </div>
        <div class="col-md-8">{% block content %} {%  endblock content %}</div>

    </body>
</html>
