{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - Geckonnect</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/navbar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/job-application.css' %}" />

        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'app/images/geico_fav.jpg' %}"/>
    </head>

    <body>
        <div class="navbar">
            <div class="logo-banner">
                <!--INSERT LOGO FOR BANNER-->
                <img src="{%  static 'app/images/geckonnect.png' %}", width="225", height="50">

            </div>
                <div class="navbar-header">
                    <div class="navbar-page-links">
                        <ul class="navbar-nav navbar-links">
                            <li><a href="{% url 'home' %}">HOME</a></li>
                            <li class="careers-dropdwn-button"><a href="{% url 'job-browser' %}">CAREERS</a>
                                <ul class="careers-dropdwn-content navbar-links">
                                    <li>
                                        <a href="{% url 'job-browser' %}">Find Jobs</a>
                                        <a href="{% url 'recommendations' %}">Job Recommendations</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-user-links">
                        <ul class="navbar-nav navbar-links">

                            {% if user.is_authenticated %}
                                <li><a href="{% url 'resume-upload' %}">RESUME UPLOAD</a></li>
                                <li><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
                                <li class="profile-dropdwn-button">
                                <div class="avatar-container">
                                    <a href="{% url 'profile' %}">
                                        {% if user.image %}
                                            <img class="avatar" src="{{ user.image.url }} " height="40" width="40">
                                        {% else %}
                                            <img src="{% static 'app/images/avatar.png' %}" class="avatar"/>
                                        {% endif %}
                                        <span class="caret"></span>
                                    </a>
                                </div>
                                <ul class="profile-dropdwn-content navbar-links navbar-right" style="right:0;">
                                    <li>
                                        <a href="{% url 'profile' %}">Profile</a>
                                        <a href="{% url 'logout' %}">Log out</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                                <li><a href="{% url 'login' %}">LOG IN</a></li>
                                <li><a href="{% url 'register' %}">REGISTER</a></li>
                            {% endif %}



                        </ul>
                    </div>
                </div>
        </div>

        {% if messages %}
        <div class="container w-100" style="padding-left: 0px; padding-right: 0px">
            <div id="messages" class="text-center">
                {% for message in messages %}
                    <div class="alert-{{ message.tags }}">{{ message|safe }}</div>
                {% endfor %}
            </div>
        </div>
    	{% endif %}
        <div class="col-md-8">{% block content %} {%  endblock content %}</div>

    </body>
</html>
