{% extends "base.html" %}



{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
    <center>
    <header class="w3-container w3-white w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Discover Your Potential with GEICO</h1>
  <p class="w3-xlarge"></p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Look For Jobs</button>
</header>

    <div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>How It Works</h1>
        <h5 class="w3-padding-32"> Geckonnect re-images the recruiting timeline, guiding candidates through every step.</h5>
              <p class="w3-text-grey"> Are you having trouble finding the perfect career fit for your experience? Geckonnect
              aims to help applicants by providing suggestions for the best job fits on the market, based on your resume. It's simple,
              you upload your resume, we do some fancy matching through our recommender system, and you get a list of the best
              options to apply to. Once you apply, we help you along the way by visualizing each step of the recruitment process,
              notifying you of changes, and giving your detailed information.</p>
    </div>
      </center>

{% endblock content %}