{% extends "base.html" %}

{%  block content %}
<html>
    <head>
        <title> {{ title }} </title>
    </head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
    <h1> {{ object.job_title }}</h1>
    <body>
        <div class="w3-third w3-container w3-margin-bottom">
            <form method="POST">
                {% csrf_token %}
            <div class="w3-container w3-white">
                <p>  Job Keywords: {{  object.job_description }} </p>
                <p> Minimum Education Requirement: {{ object.min_education }} </p>
                <button class="btn btn-outline-info" type="submit">Apply</button>
            </div>
            </form>
        </div>
    </body>
</html>

{% endblock content %}